# This is Git's per-user configuration file.
[user]
    name =
    email =
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    excludesfile = ~/.gitignore_global
    pager = delta
    editor = vi
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
